.form {
  display: flex;
  flex-direction: column;
  gap: var(--space-6);
}

.label {
  display: flex;
  flex-direction: column;
  gap: var(--space-2);

  font-size: var(--font-size-sm);
  font-weight: 500;
}

.input {
  width: 100%;
  min-height: 40px;
  padding: 0 var(--space-3);

  color: var(--color-text-primary);

  background-color: var(--color-surface);
  border: 1px solid var(--color-border);
  border-radius: var(--radius-md);
  outline: none;

  &:focus {
    border-color: var(--color-accent);
  }
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: var(--space-3);
}
